


$base-color:#fff;

$base-font-size:15px;

$base-font: 'Prata', serif;

$heading-font: 'Open Sans', sans-serif;

$small-head-font: 'Tangerine', cursive;

$font-bold:700;

$theme-color:#7D0003;

$secondary-color:#F7931D;



